services:
  training-lab:
    build: .
    image: tf-any-sm120:1.0.0
    container_name: tf_gpu_lab

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "8888:8888"
    # volumes:
    #   - .:/workspace
    #   - /path/ke/dataset/lokal:/workspace/data
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    command: >
      jupyter notebook 
      --ip=0.0.0.0 
      --port=8888 
      --no-browser 
      --allow-root 
      --NotebookApp.token=${MY_JUPYTER_TOKEN}